<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="30005">
        <setting label=""      type="bool"     		id="FIRST_TIME"           visible="false" default="true"/>
        <setting label="30001" type="text"     		id="MOUNT_POINT"          default="/mnt/rpi1/"/>
        <setting label="30002" type="bool"     		id="DELETE_REMOTE"        default="false"/>
        <setting label="30003" type="bool"     		id="MOVE_REMOTE"          default="true"/>
	</category>
</settings>